<template>
	<div class="drawer" ref="drawer" :class="{active, expanded: visible, collapsed: !visible}" @click="cancel($event)">
		<div class="toggle" @click="toggle">
			<span class="toggle-control"><span></span><span></span><span></span></span>
		</div>
		<div class="container" @click="close">
			<slot v-bind:active="active"></slot>
		</div>
	</div>
</template>

<script>
export default {
	name: "Drawer",
	data() {
		return {
			visible: false,
			active: null,
		};
	},
	watch: {
		$page() {
			this.checkDesign();
		},
	},
	methods: {
		toggle() {
			this.visible = !this.visible;
		},
		close() {
			this.visible = false;
		},
		cancel( event ) {
			if ( event.target === this.$refs.drawer ) {
				this.visible = false;
			}
		},
		checkDesign() {
			if ( typeof window !== "undefined" ) {
				const style = window.getComputedStyle( this.$refs.drawer );

				switch ( style.position ) {
					case "absolute" :
					case "fixed" :
						if ( !this.active ) {
							this.active = true;
						}
						break;

					default :
						if ( this.active ) {
							this.active = false;
						}
				}
			}
		},
		onResize() {
			clearTimeout( this.debounceTimer );

			this.debounceTimer = setTimeout( () => {
				this.checkDesign();
			}, 100 );
		},
	},
	updated() {
		this.checkDesign();
	},
	mounted() {
		this.checkDesign();

		window.addEventListener( "resize", this.onResize );
	},
	beforeDestroy() {
		window.removeEventListener( "resize", this.onResize );
	}
};
</script>
