<template>
	<div class="site-logo">
		<ExtImage
			v-if="isAtBase"
			:url="url || 'logo.svg'"
			alt="site logo"
			theme
		></ExtImage>
		<Reference
			v-else
			:href="base"
			:title="title"
		>
			<ExtImage
				:url="url || 'logo.svg'"
				alt="site logo"
				theme
			></ExtImage>
		</Reference>
	</div>
</template>

<script>
import ExtImage from "./basics/ExtImage";

export default {
	name: "SiteLogo",
	introduction: "injects clickable site logo",
	description: "This component is injecting the site's logo. Unless " +
				 "showing your site's base URL the logo is clickable " +
				 "triggering event for switching to that base URL.",
	token: '<SiteLogo url="custom-logo.png"></SiteLogo>',
	components: { ExtImage },

	props: {
		url: {
			type: String,
			note: "This property optionally selects image relative to " +
				  "theme's asset folder. Defaults to logo.svg.",
		},
		title: {
			type: String,
			note: "Provides optional text to show as balloon tip when " +
				  "hovering logo with mouse.",
		},
	},
	computed: {
		isAtBase() {
			return this.$page.path === this.$site.base;
		},
		base() {
			return this.$site.base;
		},
	},
};
</script>
