<template>
	<div class="popup modal terms-popup" v-if="page && !confirmed && !permitted">
		<div class="container">
			<div class="title" v-text="title"></div>
			<div class="content">
				<InjectedContent :content-path="page.path"></InjectedContent>
			</div>
			<div class="panel">
				<button class="accept" v-text="acceptLabel" @click="accept"></button>
				<button v-if="declineLabel" class="decline" v-text="declineLabel" @click="decline"></button>
			</div>
		</div>
	</div>
</template>

<script>
import InjectedContent from "./InjectedContent";
import { findCurrent } from "../lib/pages";
import { getCurrentLocale, localize } from "../lib/i18n";
import { asBoolean } from "../lib/utilities";

export default {
	name: "TermsPopup",

	components: { InjectedContent },
	props: {
		configKey: {
			type: String,
			default: "termsPopup",
			note: "Selects key in theme configuration providing path of page " +
				  "with popup content. Selected configuration might be " +
				  "internationalized."
		},
		contentPath: {
			type: [ String, Object ],
			note: "Provides local path name of page with desired content of " +
				  "popup to show. This will be used in preference over " +
				  "configuration in `configKey`. This parameter may be " +
				  "internationalized by providing different paths per locale.",
		},
	},
	data() {
		return {
			confirmed: true,
		};
	},
	computed: {
		source() {
			return this.contentPath || this.$site.themeConfig[this.configKey];
		},
		locale() {
			return getCurrentLocale( findCurrent( this.$tree, this.$page.path ) );
		},
		page() {
			const config = this.source;
			if ( !config ) {
				return null;
			}

			const path = localize( config, this.locale );

			return path ? this.$site.pages.find( p => p.path === path ) : null;
		},
		meta() {
			const page = this.page;

			return page ? page.frontmatter : {};
		},
		permitted() {
			return !this.$page || asBoolean( this.$page.frontmatter.termsPopup, true ) === false;
		},
		title() {
			return this.meta.title;
		},
		acceptLabel() {
			return this.meta.accept;
		},
		declineLabel() {
			return this.meta.decline;
		},
		localStoreName() {
			return "terms-accepted:" + this.locale;
		},
		versionId() {
			const page = this.page;

			return ( page && page.lastUpdated ) || "confirmed";
		},
		timestamp() {
			return typeof localStorage === "undefined" ? null : localStorage.getItem( this.localStoreName );
		},
	},
	methods: {
		accept() {
			if ( typeof localStorage !== "undefined" ) {
				localStorage.setItem( this.localStoreName, this.versionId );
			}

			this.confirmed = true;
		},
		decline() {
			history.back();
		},
	},
	mounted() {
		if ( typeof localStorage !== "undefined" ) {
			this.confirmed = localStorage.getItem( this.localStoreName ) === this.versionId;
		}
	},
};
</script>
