<template>
	<div class="box" :class="containerClassNames" :style="containerStyle">
		<template v-if="icon">
			<div class="icon" v-if="icon">
					<Fa :icon="icon" :class="iconClassNames" :transform="faTransform" :mask="faMask" :animate="faAnimate" :fixedWidth="iconFixedWidth"></Fa>
			</div>
			<div>
				<slot></slot>
			</div>
		</template>
		<slot v-else></slot>
	</div>
</template>

<script>
import { deepMerge } from "../../lib/deep-merge";
import { Container } from "../traits/container";

const Box = deepMerge( {}, Container, {
	name: "Box",
} );

export default Box;
</script>
