<template>
	<section
		class="section"
		:class="classNames"
		:style="style"
	>
		<div>
			<template v-if="icon">
				<div class="icon" v-if="icon">
					<Fa :icon="icon" :class="iconClassNames" :transform="faTransform" :mask="faMask" :animate="faAnimate" :fixedWidth="iconFixedWidth"></Fa>
				</div>
				<div>
					<slot></slot>
				</div>
			</template>
			<slot v-else></slot>
		</div>
	</section>
</template>

<script>
import { Container } from "../traits/container";
import { deepMerge } from "../../lib/deep-merge";

const Section = deepMerge( {}, Container, {
	name: "Section",
	props: {
		height: {
			type: [ String, Number ],
			validator: value => isNaN( value ) || value > 0,
			note: "Explicitly declares current section's height in pixels.",
		},
		parallax: {
			type: [ String, Number ],
			validator: value => !value || !isNaN( value ) || [ "fix", "fixed" ].indexOf( String( value ).toLowerCase() ) > -1,
		},
	},
	data() {
		return {
			loadedImage: false,
		};
	},
	computed: {
		classNames() {
			const classes = this.containerClassNames;

			if ( this.image ) {
				classes.push( this.parallaxAmount === 0 ? "without-parallax" : "with-parallax" );
			}

			if ( this.height ) {
				classes.push( "custom-height" );
			}

			return classes;
		},
		parallaxAmount() {
			if ( typeof window !== "undefined" && window.matchMedia( this.$site.themeConfig.mobileMediaQuery || "(any-hover: none)" ).matches ) {
				return 0;
			}

			if ( isNaN( this.parallax ) ) {
				switch ( String( this.parallax || "" ).trim().toLowerCase() ) {
					case "fix" :
					case "fixed" :
						return 1;

					default :
						return 0;
				}
			}

			const value = Number( this.parallax );

			return value < -1 ? -1 : value > 1 ? 1 : value;
		},
		style() {
			const parent = this.containerStyle;
			const result = parent || {};
			let assigned = Boolean( parent );

			if ( this.height && !this.$slots.default ) {
				assigned = true;
				result.height = `${parseInt( this.height )}px`;
			}

			if ( this.loadedImage ) {
				assigned = true;
				result.backgroundImage = `url(${this.loadedImage})`;

				result.backgroundSize = "cover";
				result.backgroundPosition = "center center";

				if ( this.parallaxAmount >= 1 ) {
					result.backgroundAttachment = "fixed";
				}
			}

			return assigned ? result : undefined;
		},
	},
	mounted() {
		this.containerLoadImage();
	},
} );

export default Section;
</script>
