<template>
	<div
		class="tile"
		:class="classNames"
		@click="clickUnlessHandled( $event )"
	>
		<slot name="prepend">
			<div class="image" v-if="image">
				<ExtImage :url="image"></ExtImage>
			</div>
			<div class="icon" v-else-if="icon">
				<Fa :icon="icon" :class="iconClassNames" :transform="faTransform" :mask="faMask" :animate="faAnimate" :fixedWidth="iconFixedWidth"></Fa>
			</div>
		</slot>
		<div class="content">
			<slot></slot>
		</div>
		<slot name="append"></slot>
	</div>
</template>

<script>
import { deepMerge } from "../../lib/deep-merge";
import { Linkable } from "../traits/linkable";
import ExtImage from "../basics/ExtImage";
import Fa from "../Fa";
import { Container } from "../traits/container";

const Tile = deepMerge( {}, Container, Linkable, {
	name: "Tile",
	components: { ExtImage, Fa },

	computed: {
		classNames() {
			const classes = this.containerClassNames;

			classes.push( this.resolvedHref ? "with-link" : "without-link" );

			return classes;
		},
	},
	data() {
		return {
			resolvedHref: null,
			resolving: false,
		};
	},
	methods: {
		clickUnlessHandled( event ) {
			return event.defaultPrevented ? undefined : this.click( event );
		},
	},
	mounted() {
		this.resolveLink();
		this.containerLoadImage();
	},
} );

export default Tile;
</script>
