<template>
	<div class="tiles" :class="containerClassNames" :style="containerStyle">
		<slot></slot>
	</div>
</template>

<script>
import { deepMerge } from "../../lib/deep-merge";
import { Container } from "../traits/container";

const Tiles = deepMerge( {}, Container, {
	name: "Tiles",
} );

export default Tiles;
</script>
