<template>
	<div v-if="items.length" class="link-list" :class="[levelClass]">
		<div v-if="stacked" class="level-container">
			<ul class="items">
				<li
					v-for="item in items"
					class="item"
					:class="itemClasses( item )"
				>
					<Reference
						:href="item.url"
						:label="item.label"
						:title="item.title"
						:external="item.external"
						:delay="delay"
					></Reference>
				</li>
			</ul>
		</div>
		<ul v-else class="items">
			<li
				v-for="item in items"
				class="item"
				:class="itemClasses( item )"
			>
				<Reference
					:href="item.url"
					:label="item.label"
					:title="item.title"
					:external="item.external"
					:delay="delay"
				></Reference>
				<LinkList
					v-if="item.children && item.children.length"
					:items="item.children"
					:level="item.depth + 1"
					:stacked="stacked"
				></LinkList>
			</li>
		</ul>
	</div>
</template>

<script>
import Reference from "../basics/Reference";

export default {
	name: "LinkList",

	components: { Reference },
	props: {
		level: {
			type: [ String, Number ],
			default: 1,
			validator: level => level == null || isNaN( level ) || /^\s*[1-9]\d*\s*$/.test( level ),
			note: "Selects level of current list in hierarchy of links.",
		},
		items: {
			type: Array,
			required: true,
			validator: items => items.every( item => item && item.url ),
			note: "Lists descriptions of links. Each entry must be an " +
				  "object providing properties as required and supported " +
				  "by `Reference` component. In addition, every object may " +
				  "contain an array of subordinated links in its property " +
				  "`children`."
		},
		delay: {
			type: Number,
			default: 0,
			note: "Controls optional delay in milliseconds to wait before " +
				  "actually switching to linked resource when user has " +
				  "clicked either non-external link."
		},
		stacked: {
			type: Boolean,
			default: false,
			note: "Indicates whether this link list is a level in a stack of " +
				  "levels."
		},
	},
	computed: {
		levelClass() {
			return `level-${this.level || 1}`;
		},
	},
	methods: {
		itemClasses( item ) {
			return {
				selected: item.selected,
				active: item.active,
				sibling: item.sibling
			};
		},
	},
};
</script>
