<template>
	<nav v-if="sliceOfTree.length" class="navigator" :class="classes">
		<LinkList
			v-for="(level, index) of stack"
			:key="index"
			:items="level"
			:delay="delay"
			:level="index + 1"
			:stacked="true"
		></LinkList>
		<LinkList
			v-if="stack.length < 1"
			:items="sliceOfTree"
			:delay="delay"
		></LinkList>
	</nav>
</template>

<script>
import LinkList from "./LinkList";
import { findPageByTag } from "../../lib/utilities";
import {
	convertLevel,
	findCurrent,
	findSubordinatedRoots,
	sortLevel
} from "../../lib/pages";
import { getCurrentLocale, localize } from "../../lib/i18n";

const ptnLevelParser = /^\s*([a-z_][a-z0-9_-]*)?\s*([+-])?(\d+)\s*(?:(\?)?\s*([+-])\s*(\d+)?\s*)?$/i;

export default {
	name: "Navigator",
	introduction: "hierarchical navigation menu",
	description: "This component renders a hierarchy of links according to " +
				 "a customizable slice of current site's hierarchy of pages.",
	token: '<Navigation level="1+1"></Navigation>',

	components: { LinkList },
	props: {
		name: {
			type: String,
			note: "Provides name of navigator which is exposed in HTML for " +
				  "specific CSS adjustments. In addition it enables hiding of " +
				  "pages in particular navigators, only."
		},
		level: {
			type: [ String, Number, Object ],
			required: true,
			note: "This property controls slice of site's tree to render. " +
				  "Its syntax is `[ anchor ] [ '+' | '-' ] start [ ( '+' | '-' ) stop | '-' ]`. " +
				  "`anchor` is an optionally provided tag of a page to be " +
				  "considered current one explicitly. It must start with " +
				  "a letter or an underscore. `start` and `stop` are " +
				  "positive integers. Omitting sign on `start` selects " +
				  "absolute level into tree. When using sign, level is " +
				  "picked in relation to current page with negative " +
				  "numbers ascending towards root and positive numbers " +
				  "descending. Single level is used unless providing `stop`. " +
				  "When separated from `start` by '+', `stop` is selecting " +
				  "additional number of levels to render. When using `-` " +
				  "for separation it is absolute level into tree limiting " +
				  "rendered links. When using `-` without `stop` a whole " +
				  "thread is rendered. This property may be internationalized.",
		},
		delay: {
			type: Number,
			default: 0,
			note: "Controls delay in ms on handling user clicking either " +
				  "listed link.",
		},
		sortBy: {
			type: String,
			default: "sort",
			note: "Controls per-document frontmatter property providing index " +
				  "used for sorting pages of same level.",
		},
		stacked: {
			type: Boolean,
			note: "When set, causes hierarchy of links rendered as stack " +
				  "of link lists instead of a tree. In a stack, only " +
				  "current thread of hierarchy is provided.",
		},
	},
	data() {
		return {
			tree: false,
		};
	},
	computed: {
		selector() {
			return localize( this.level, getCurrentLocale( findCurrent( this.$tree, this.$page.path ) ) );
		},
		sliceOfTree() {
			const { path } = this.$page;

			const match = ptnLevelParser.exec( this.selector );
			const valid = match && ( !match[5] || match[5] === "-" || match[6] != null );

			if ( !valid ) {
				throw new TypeError( "invalid level definition for navigator" );
			}

			const anchor = match[1] ? findPageByTag( this.$site.pages, match[1] ) : null;

			let current = findCurrent( this.tree, anchor ? anchor.path : path );
			if ( !current ) {
				return [];
			}

			const start = match[2] ? current.$depth + parseInt( `${match[2] || ""}${match[3]}` ) : parseInt( match[3] );
			const stop = match[5] ? match[5] === "+" ? start + parseInt( match[6] ) : match[6] == null ? Infinity : parseInt( match[6] ) : start;
			const range = { start, stop, optional: Boolean( match[4] ) };

			if ( range.start > range.stop ) {
				return [];
			}

			let roots;

			if ( range.start > current.$depth ) {
				const sortProperty = this.sortBy;

				roots = [];

				findSubordinatedRoots( roots, current, range, ( l, r ) => {
					const _l = parseFloat( ( l.frontmatter || {} )[sortProperty] );
					const _r = parseFloat( ( r.frontmatter || {} )[sortProperty] );

					return isNaN( _l ) ? isNaN( _r ) ? 0 : 1 : isNaN( _r ) ? -1 : _l - _r;
				} );
			} else {
				// eslint-disable-next-line no-empty
				for ( ; current && current.$depth > range.start; current = current.$parent ) {}
				roots = current ? current.$level : [];
			}

			return convertLevel( roots, range, path, this.sortBy, this.name, 0 );
		},
		stack() {
			if ( !this.stacked ) {
				return [];
			}

			const stack = [];
			let current = this.sliceOfTree;

			while ( current ) {
				const numItems = current.length;
				const level = new Array( numItems );
				let sub;

				for ( let i = 0; i < numItems; i++ ) {
					const item = current[i];

					if ( item.active && item.children.length ) {
						sub = item.children;
					}

					level[i] = Object.assign( {}, item, { children: [] } );
				}

				stack.push( level );

				current = sub;
			}

			return stack;
		},
		classes() {
			const classes = [];

			if ( this.stacked ) {
				classes.push( "stacked" );
				classes.push( `size-${this.stack.length}` );
			}

			if ( this.name ) {
				classes.push( `name-${this.name.trim().replace( /[^a-z0-9_-]+/g, "-" )}` );
			}

			return classes;
		},
	},
	mounted() {
		const sortProperty = this.sortBy;

		this.tree = sortLevel( this.$tree, ( l, r ) => {
			const _l = parseFloat( ( l.frontmatter || {} )[sortProperty] );
			const _r = parseFloat( ( r.frontmatter || {} )[sortProperty] );

			return isNaN( _l ) ? isNaN( _r ) ? 0 : 1 : isNaN( _r ) ? -1 : _l - _r;
		} );
	},
};
</script>
