<template>
	<nav class="translations">
		<ul class="items">
			<li
				v-for="( item, index ) in translations"
				:key="index"
				class="item"
				:class="{selected: item.current, [item.locale]: true, [item.language]: true}"
			>
				<span v-if="item.disabled" class="disabled">{{item.label}}</span>
				<Reference v-else :href="item.url" @click.capture="clicked(item.locale)">{{item.label}}</Reference>
			</li>
		</ul>
	</nav>
</template>

<script>
import {
	extractLocales,
	saveCurrentLocale,
	listTranslations
} from "../../lib/i18n";

import Reference from "../basics/Reference";

export default {
	name: "Translations",
	introduction: "lists links to translations of current page",
	description: "This component renders a list of links to pages apparently " +
				 "containing translations of current page.",
	token: '<Translations required="de,en"></Translations>',

	components: { Reference },
	props: {
		required: {
			type: [ String, Array ],
			default: () => [],
			note: "Selects locales to always include in resulting list even " +
				  "though related translation might be missing, thus rendering " +
				  "disabled link.",
		},
		order: {
			type: [ String, Array ],
			default: "",
			note: "Selects explicit order of locales to apply on rendering " +
				  "links. Any found locale not included here is appended to " +
				  "resulting list of links. When omitted, list of required " +
				  "locales is used as fallback.",
		},
		persist: {
			type: Boolean,
			default: true,
			note: "Controls if clicking link is persisting related locale to " +
				  "become user's current locale.",
		},
	},
	computed: {
		translations() {
			return listTranslations( this.$site.themeConfig, this.$tree, this.$page.path, this.requiredLocales, this.sortingOrder );
		},
		requiredLocales() {
			const value = this.required;

			if ( value == null ) {
				return [];
			}

			if ( Array.isArray( value ) ) {
				return extractLocales( value );
			}

			return extractLocales( String( value ).trim().split( /[\s,;]+/ ) );
		},
		sortingOrder() {
			let value = this.order;

			if ( value == null ) {
				value = [];
			} else if ( !Array.isArray( value ) ) {
				value = String( value ).trim().split( /[\s,;]+/ ).filter( i => i );
			}

			return value.length > 0 ? value : null;
		},
	},
	methods: {
		clicked( locale ) {
			if ( this.persist ) {
				saveCurrentLocale( locale );
			}
		}
	}
};
</script>
