<template>
	<span
		v-if="isSvg && ready"
		class="image"
		:class="classes"
		:style="style"
		v-html="src"
	></span>
	<img
		v-else-if="ready"
		:src="src"
		:alt="alt"
		class="image"
		:class="classes"
		:style="style"
	>
</template>

<script>
import fetch from "../../lib/fetch";
import { ptnAssetPrefix } from "../../lib/utilities";

export default {
	name: "ExtImage",
	introduction: "renders single image with extra support for SVG",
	description: "This component is meant for rendering simple image " +
				 "unless selecting some SVG file causing different " +
				 "markup used to make the SVG addressable via Javascript " +
				 "or CSS.",
	token: '<ExtImage url="custom-logo.png" theme></ExtImage>',

	props: {
		url: {
			type: String,
			required: true,
			note: "This property selects image to show. Local URLs are " +
				  "relative to site's asset folder.",
		},
		alt: {
			type: String,
			note: "Provides text describing content of image for use by " +
				  "visually impaired users.",
		},
		theme: {
			type: Boolean,
			note: "Controls whether selected image is assumed to be part of " +
				  "theme rather than content.",
		},
		type: {
			type: String,
			note: "Selects particular type of image.",
		},
		width: {
			type: [ String, Number ],
			note: "Provides maximum width of image.",
		},
		height: {
			type: [ String, Number ],
			note: "Provides maximum height of image.",
		},
	},
	data() {
		return {
			resolvedUrl: null,
			src: null,
		};
	},
	watch: {
		urL() {
			this.resolveUrl();
		},
	},
	computed: {
		isLocal() {
			return !/^\w+:\/\//.test( this.url );
		},
		isSvg() {
			return this.url.endsWith( ".svg" );
		},
		classes() {
			return this.type ? this.type.split( /\// ).filter( t => t ).map( type => "type-" + type ) : [];
		},
		style() {
			const style = {};

			if ( this.width > 0 ) {
				style.width = this.width + "px";
			}

			if ( this.height > 0 ) {
				style.height = this.height + "px";
			}

			return style;
		},
		loaded() {
			if ( this.isSvg ) {
				if ( !this.resolvedUrl ) {
					return false;
				}

				return fetch( this.resolvedUrl )
					.then( response => {
						if ( response.status !== 200 ) {
							throw new Error( `fetching SVG content failed on ${response.status}` );
						}

						const document = response.content;

						if ( !document || !document.rootElement ) {
							throw new Error( `returned content not an XML document` );
						}

						this.src = new XMLSerializer().serializeToString( document )
							.replace( /^\s*<\?xml[\s\S]+?\?>/, "" );
					} )
					.catch( error => {
						console.error( `fetching SVG content of ${this.url} as ${this.resolvedUrl} failed: ${error.message}` );
					} );
			}

			this.src = this.resolvedUrl;

			return true;
		},
		ready() {
			return this.loaded && this.src;
		},
	},
	methods: {
		resolveUrl() {
			if ( this.isLocal ) {
				this.resolvedUrl = undefined;

				const url = this.url.replace( ptnAssetPrefix, "" );
				let loader;

				if ( this.theme ) {
					// see https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import
					loader = import( `@theme/assets/${url}` );
				} else {
					// see https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import
					loader = import( `@assets/${url}` );
				}

				return loader
					.then( module => {
						this.resolvedUrl = module.default;

						if ( !this.isSvg ) {
							this.src = this.resolvedUrl;
						}
					} )
					.catch( error => {
						console.error( `missing image file to show: ${error.message}` );
					} );
			}

			this.resolvedUrl = this.url;

			return undefined;
		},
	},
	mounted() {
		this.resolveUrl();
	},
};
</script>
