<template>
	<a v-if="resolvedHref"
	   class="link"
	   :href="resolvedHref"
	   :target="useNewTab ? '_blank' : undefined"
	   :rel="useNewTab ? 'noopener' : undefined"
	   :title="title"
	   :class="classes"
	   @click.capture="click($event)"
	>
		<slot>{{ label || href }}</slot>
	</a>
	<span v-else-if="resolving"
		  class="link disabled checking"
		  :title="title"
		  :class="classes"
	>
		<slot>{{ label || linkUrl }}</slot>
	</span>
	<span v-else
		  class="link disabled no-target"
		  :title="title"
		  :class="classes"
	>
		<slot>{{ label || linkUrl }}</slot>
	</span>
</template>

<script>
import { deepMerge } from "../../lib/deep-merge";
import { Linkable } from "../traits/linkable";

const Reference = deepMerge( {}, Linkable, {
	name: "Reference",
	description: "Implements regular link in context of VuePress-based site. " +
				 "The name _reference_ was chosen for there is a native HTML " +
				 "element named link, already.",

	props: {
		label: {
			type: String,
			default: "",
			note: "Provides label to show on reference instead of its URL.",
		},
		title: {
			type: String,
			default: "",
			note: "Provides optional text to reveal when hovering reference " +
				  "with mouse.",
		},
		external: {
			type: Boolean,
			default: undefined,
			note: "Indicates if this reference's target shall be opened in " +
				  "another tab of browser.",
		},
		delay: {
			type: Number,
			default: 0,
			note: "Controls optional delay in milliseconds to wait before " +
				  "actually switching to referenced resource when user has " +
				  "clicked either non-external reference.",
		},
		theme: {
			type: Boolean,
			default: false,
			note: "Controls whether referenced resource is assumed to be part " +
				  "of theme rather than content.",
		},
	},
	computed: {
		classes() {
			const list = [
				this.isLocal ? "local" : "remote",
				this.isHtml ? "page" : "asset",
			];

			if ( this.useNewTab ) {
				list.push( "new-tab" );
			}

			if ( this.linkUrl === this.$page.path ) {
				list.push( "selected" );
			}

			return list;
		},
	},
	data() {
		return {
			resolvedHref: null,
			resolving: false,
		};
	},
	mounted() {
		this.resolveLink();
	},
	created() {
		this.resolveLink( true );
	},
} );

export default Reference;
</script>
